<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<h2>Edit User</h2>

  <form action="/users/<%=@user[:id]%>" method="post">
    <input type="hidden" name="_method" value="put">
    First Name: <input type="text" name="first" value="<%=@user[:first]%>">
    Last Name: <input type="text" name="last" value="<%=@user[:last]%>">
    <input type="submit" value="Edit User">
  </form>
  <form action="/users/<%=@user[:id]%>" method="post" class="delete">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete User">
  </form>
</body>
</html>
